/***************************************************
* css for drop menu that works over anything below *
*  Designed by Chris Learoyd                       *
***************************************************/
body{ font: 62.5% "Trebuchet MS", sans-serif; margin:0px;}
			.Headers { margin-top: 2em; color:;}
			#outlineHeader { color:#00A2F3; font-size:13px; padding:0px; border-bottom-style:dotted;border-bottom-width:thin;border-bottom-color:#62c6ec;
			            border-top-style:dotted;border-top-width:thin;border-top-color:#62c6ec;}
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}          
			#accordion {width:955px; margin-left:auto; margin-right:auto; z-index:0;}
			a img{border:none;}
			li.big{line-height:20px;}
			#navbar {background-color:white;border:none;height:50px;width:955px;margin-left:auto;margin-right:auto;}
            #navbar ul{padding:0px;margin:0px;}
            #navbar ul li a.banner {width:355px;background-color: #1C7BD8;}
            #navbar ul li {width:150px;display:inline;float:left;text-transform:uppercase;font-size:0.8em;height:25px;}
            #navbar ul li a {text-decoration:none;text-align:center;color:#FFFFFF;background-color:#1C7BD8;line-height:25px;display:block;padding-left:8px;font-size:10px;}
            #navbar ul li a:hover {background-color:#D394EF;}
            #navbar ul li ul {visibility:hidden;position:relative; z-index:1;}
            #navbar ul li:hover ul {visibility:visible; z-index:1;}
            #navbar ul li ul li {position:relative;}
            #navbar ul li ul li ul {visibility:hidden; margin-left:150px;position:absolute;top:0;}
            #navbar ul li ul li ul li a {background-color:#D394EF; color:#FFFFFF; font-size:10px;}
            #navbar ul li:hover ul li ul {visibility:hidden;}
            #navbar ul li ul li:hover ul  {visibility:visible;}
            #navbar ul li ul li ul li ul {visibility:hidden; margin-left:0px; padding-top:25px;}
            #navbar ul li ul li ul li ul li a {color:#FFFFFF;background-color:#1C7BD8; font-size:9px;}
            #navbar ul li ul li ul li ul li:hover a {background-color:#D394EF;}
            #navbar ul li ul:hover li ul li ul {visibility:hidden;}
            #navbar ul li ul li ul:hover li ul {visibility:visible;}
