#navbar {
	background-color:white;border:none;height:auto;
	width:750px;margin-left:auto;margin-right:auto;
}
#navbar ul{
	padding:0px;margin:0px;
}
#navbar ul li {
	width:150px;
	display:inline;
	float:left;
	text-transform:uppercase;
	font-size:0.8em;
	height:25px;
}
#navbar ul li a {
	text-decoration:none;color:#0033CC;background-color:#99CCFF;
    line-height:25px;display:block;padding-left:8px;	 
}
#navbar ul li a:hover {
	background-color:#CCFFFF;
}
#navbar ul li ul {
	visibility:hidden;
}
#navbar ul li:hover ul {
	visibility:visible;
}
#navbar ul li ul li {
	 position:relative;
}
#navbar ul li ul li ul {
    visibility:hidden; margin-left:150px;position:absolute;top:0;
}
#navbar ul li ul li ul li a {
	background-color:#CCFFFF; color:#F00; font-size:10px;
}
#navbar ul li:hover ul li ul {
	visibility:hidden;
}
#navbar ul li ul li:hover ul  {
	visibility:visible;
}
#navbar ul li ul li ul li ul {
	visibility:hidden; margin-left:0px; padding-top:25px;
}
#navbar ul li ul li ul li ul li a {
	color:#0033CC;background-color:#99CCFF; font-size:9px;
}

#navbar ul li ul li ul li ul li:hover a {
	background-color:#CCFFFF;
}
#navbar ul li ul:hover li ul li ul {
	visibility:hidden;
}
#navbar ul li ul li ul:hover li ul {
	visibility:visible;
}